<h1>Chat rooms</h1>

<% @users.each do |user| %>
  <% if user != current_user %>
    <%= user.name %>
    <%= link_to "Send Message", chat_rooms_path(sender_id: current_user.id, recepient_id: user.id), method: 'post' %>
  <% end %>
  <br>
<% end %>